<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<center>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>display_Webpage</h1>
        <table style="background-color: rgb(255, 162, 0);" border="24px">
            <center>
                <tr>
                    <th>Topic_name</th>
                    <th>Name</th>
                    <th>URL</th>
                </tr>
                </center>
                {% for i in webpage %}
                <tr>
                    <td>{{i.topic_name}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.url}}</td>
                </tr>
                {% endfor %}
        </table>
    </center>
</body>
</html>